# Parameter setup for an OpenStack cluster

# Cloud-provider credentials
os_auth_url: {{ os_auth_url }}
os_project_id: {{ os_project_id }}
os_username: {{ os_username }}
os_password: {{ os_password }}
os_user_domain_name: {{ os_user_domain_name }}
os_region_name: {{ os_region_name }}
os_availability_zone: {{ os_availability_zone }}
