# Parameter setup for an AWS cluster

provider: {{  provider }}

aws_access_key_id: {{ aws_access_key_id }}
aws_secret_access_key: {{ aws_secret_access_key }}
aws_region: {{ aws_region }}

os_username: {{ os_username }}

instance_base_name: {{ instance_base_name }}

aws_region_image_id: {{ aws_region_image_id }}
aws_vpc_id: {{ aws_vpc_id }}
aws_vpc_subnet_id: {{ aws_vpc_subnet_id }}
