# Parameter setup for an AWS cluster

os_username: {{ os_username }}
os_region_name: {{ os_region_name }}

aws_region: {{ aws_region }}
aws_region_image_id: {{ aws_region_image_id }}
aws_vpc_id: {{ aws_vpc_id }}
aws_vpc_subnet_id: {{ aws_vpc_subnet_id }}
